.jira__sprint
  .widget__body
    display flex
    display -webkit-flex
    justify-content center
    -webkit-justify-content center

  &__description
    font-size 15px
  &__remain
    color #AD408E
    font-size 32px
    line-height 32px
    display block
  &__issue
    display flex
    flex-wrap wrap
    justify-content space-between
    &__undefined
      color $unknown-color
      border-radius 50%
    &__todo
      color #607D8B
      border-radius 50%
    &__inprogress
      color #FFFF00
      border-radius 50%
    &__done
      color $success-color
      border-radius 50%
