.jira {
  &__sprint {
    position relative;
    min-height 34px;
    padding 9px 15px 9px 50px;
    &__id {
      right 3px;
      color #30C279;
      fontWeight: bold;

    }
    &__remain {
      display block;
    }
  }
}
