.jira__sprint
  &__loading
    display block
    margin 40px 0 0 50px
    font-size 32px
  &__description
    margin 40px 0 0 50px
    display block
    width 100%
    font-size 15px
  &__remain
    margin-left 40px
    padding 20px
    display block
    color #AD408E
    font-weight bold
    font-size 50px
  &__issue
    margin-left 40px
    width 30px
    &__text
      font-size 13px
      margin-right 3px
    &__status
      font-weight bold
      font-size 15px
      margin 0 20px 10px 0
    &__undefined
      color #CCCED1
    &__todo
      color #C5CAE9
    &__inprogress
      color #FFFF00
    &__done
      color $success-color
